/* Work Modal*/
.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: #fff;
  width: 700px;
  border-radius: 30px 30px 0px 0px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 30px 30px 0px 0px;
  background-color: #0062b2;
}

.modal-title {
  color: #fff;
  margin: 2% 0;
  margin-left: 30%;
  font-size: 2rem;
  font-weight: 300;
}

.modal-content {
  padding: 5% 1em;
}

.revista a{
  display: flex;
  justify-content: center;
}

.close {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  padding-right: 3%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.item a {
  display: flex;
  justify-content: center;
}

a.revista img {
  width: 50%;
}

/* a.revista.active img {
  border: 10px solid blue;
} */

.owl-carousel{
  display: flex;
}

/* Style modo Prueba */
/* .owl-carousel {
  display: flex;
  overflow: scroll;
} */



/* Modal resposive */

@media (max-width: 480px) {
  .modal-title {
    font-size: 1.5rem;
    margin-left: 25%;
  }
  .close {
    font-size: 1.5rem;
  }
  a.revista img {
    width: 80%;
  }
}